<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen's Chess Club</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.jpg"/>
</head>

<%- include('header.ejs') %>

<body>
    <div class="centerer">
        <div class="width-container">
            <h1>2025 Blitz Tournament</h1>
        </div>

        <hr>


        <div class="blitzT-container-1">
>
            <img src="images/blitzT2025.png" alt="Blitz Tournament Poster">

            <ul>
                <li>
                    <h4>Queens Chess club will be hosting it first Blitz tournament of the year! Come and join us for a couple of fast paced chess games! Open to everyone!
                    </h4>
                </li>
                <hr style="margin-top: 50px">       
                <li>
                    <h2>Event Overview</h2>
                </li>
                <hr>
                <li>
                    <h3>Where:</h3>
                    <h4>Stauffer Library, Queen's University, ON</h4>
                </li>
                <li>
                    <h3>When:</h3>
                    <h4>Feb 8th 2025</h4>
                </li>
                <li>
                    <h3>Format:</h3>
                    <h4>First game starts at 1:00 pm sharp and each subsequent game will start when all games in the previous round are finished.</h4>
                    <h4>Games are 5 minutes with no increment</h4>
                </li>
                <li>
                    <h3>Sections:</h3>
                    <h4>U1200, U1600, Crown</h4>
                    <h6>Rating are based on player's current chess.com or lichess.org rating</h6>
                </li>
                <li>
                    <h3>Prizes</h3>
                    <h4>Crown section Winner: $30</h4>
                    <h4>U1600 section Winner: $40</h4>
                    <h4>U1200 section Winner: $50</h4>
                </li>
                <li>
                    <h3>Hosts</h3>
                    <h4>Queens University Chess Club</h4>
                </li>
            </ul>
        </div>
        <br>

        <hr>

        <div class = "blitzT-container-2">
            <ul>
                <li>
                    <h2>To Register:
                    </h2>
                </li>
     
                <li>
                    <h4>
                        Scan the QR code or click on the link and fill out the form!
                    </h4>
                </li>
                <li>
                    <p><a href = "https://forms.gle/LQKjbQVeXTcTDLXr5" target = "_blank">Google Forms Link</a></p>
                </li>
                <li>
                    <h4>
                        All payments will go towards funding future Chess Club Events!
                    </h4>
                </li>
            </ul>
            <img src = "images/QCC_QR_code.png" alt = "QCC QR Code">
        </div>

    </div>
    <br>
    <br>
    <br>


    <%- include('footer.ejs'); %>

</body>
</html>