<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen's Chess Club</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.jpg"/>
</head>

<%- include('header.ejs') %>

<body>
    <div class="centerer">
        <div class="width-container">
            <h1>2025 Canadian University Chess Championship</h1>
        </div>

        <hr>


        <div class="container5">
>
            <img src="images/bughouse.jpg" alt="QCC Poster">

            <ul>
                <li>
                    <h4>The 2025 Canadian University Chess Championship is right around the corner, and we are excited to share the logistics for this year’s event. This year’s tournament 
                        will take place from January 24th to 26th in Montreal, Quebec, hosted by the Université de Montréal and McGill University chess clubs. The Queen's University 
                        Chess Club will be sending three teams to CUCC this year, with team placements determined by the Qualifiers held in November 2024. 
                        We look forward to representing Queen’s on the national stage!
                    </h4>
                </li>
                <hr style="margin-top: 50px">       
                <li>
                    <h2>Event Overview</h2>
                </li>
                <hr>
                <li>
                    <h3>Where:</h3>
                    <h4>McGill University, ON</h4>
                </li>
                <li>
                    <h3>When:</h3>
                    <h4>Jan 26 - Jan 27 2025</h4>
                </li>
                <li>
                    <h3>Format:</h3>
                    <h4>Round 1,2, and 3 on the 2nd (10:00am, 2:30pm, 6:00pm)</h4>
                    <h4>Round 4 and 5 the 3rd (10:00am, 2:30pm)</h4>
                    <h4>Games are 90 minutes with 30 second bonus per move</h4>
                </li>
                <li>
                    <h3>Sections:</h3>
                    <h4>Reserve, Crown</h4>
                    <h6>Rating are based on player's current CFC rating</h6>
                </li>
                <li>
                    <h3>Hosts</h3>
                    <h4>Université de Montréal Chess Club and McGill Chess Club</h4>
                </li>
            </ul>
        </div>
        <br>

        <hr>

        <div class = "container6">
            <ul>
                <li>
                    <h2>Tournament Results are out!!
                    </h2>
                </li>
                <li>
                    <h3>Good job to everyone who attended and competed!</h3>
                </li>
                <li>
                    <h4>
                        Scan the QR code or click on the link to view the pictures!
                    </h4>
                </li>
                <li>
                    <p><a href = "https://docs.google.com/forms/d/e/1FAIpQLSewASJqUdlnPzssEB2GCc9exNKbxKP6ZOriUx3eG1lIaBgQiA/viewform" target = "_blank">Google Forms Link</a></p>
                </li>
            </ul>
            <img src = "images/QCC_QR_code.png" alt = "QCC QR Code">
        </div>

    </div>
    <br>
    <br>
    <br>


    <%- include('footer.ejs'); %>

</body>
</html>