<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Execs</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.jpg"/>
</head>

<%- include('header.ejs') %>

<body>
    <div class="centerer">

        <h1 style="margin-bottom: 0px;">MEET THE EXECS</h1>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/execs_2025-2026/Jack Fergusson.jpeg">
            </div>
            <div class="info">
                <div>
                    <h3>Jack Fergusson</h3>
                    <h4>Co-President | Fifth Year | Computer Engineering</h4>
                    <p class="description">
                        Jack leads the Queen's Chess club, organizing meetings, planning events, and more.
                    </p>
                    <p class="description">
                        <strong>If I were a chess opening, I'd be:</strong> Slav Defense
                    </p>
                    <p class="description">
                        <strong>Fun fact:</strong> I once played Hikaru Nakamura in High Park
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Joey Qiao</h3>
                    <h4>Co-President | Third Year | Health Sciences</h4>
                    <p class="description">
                        Joey leads the Queen's Chess club, assisting in organizing events and ensuring the smooth operation of the club's activities.
                    </p>
                    <p class="description">
                        <strong>If I were a chess opening, I'd be:</strong> The Italian Game
                    </p>
                    <p class="description">
                        <strong>Fun fact:</strong> I am the youngest, but tallest in my family
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/execs_2025-2026/Jowy Qiao.jpg">
            </div>
        </div>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/execs_2025-2026/Saqiv Williams.jpg">
            </div>
            <div class="info">
                <div>
                    <h3>Saqiv Williams</h3>
                    <h4>Head Coach | First Year | Computer Science</h4>
                    <p class="description">
                        Saqiv runs beginner's coaching classes, teaching students the most important concepts for each phase of the game, and how to play for a win!
                    </p>
                    <p class="description">
                        <strong>If I were a chess opening, I'd be:</strong> The Catalan
                    </p>
                    <p class="description">
                        <strong>Fun fact:</strong> I am from Trinidad and Tobago
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Haowen Yan</h3>
                    <h4>Social Media Coordinator | Second Year | Biochemistry</h4>
                    <p class="description">
                        Haowen manages the club's social media presence, ensuring consistent engagement with members and promoting upcoming events.
                    </p>
                    <p class="description">
                        <strong>If I were a chess opening, I'd be:</strong> The King's Indian
                    </p>
                    <p class="description">
                        <strong>Fun fact:</strong> I was a former provincial-level athlete
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/execs_2025-2026/Haowen Yan.jpg">
            </div>
        </div>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/execs_2025-2026/Amr Mohamed.jpeg">
            </div>
            <div class="info">
                <div>
                    <h3>Amr Mohamed</h3>
                    <h4>Web Advisor | Masters of Electrical Computer Engineering</h4>
                    <p class="description">
                        Amr serves as an expert consultant in web design to improve the Queen's Chess website to better serve members and promote events.
                    </p>
                    <p class="description">
                        <strong>If I were a chess opening, I'd be:</strong> The Marshall Gambit
                    </p>
                    <p class="description">
                        <strong>Fun fact:</strong> I am a Morphy number 6. Check yours at: <a href="https://en.wikipedia.org/wiki/Morphy_number" target="_blank">https://en.wikipedia.org/wiki/Morphy_number</a>
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Adam Ulster</h3>
                    <h4>Web Developer | Second Year | Computer Science</h4>
                    <p class="description">
                        Adam contributes to the club's website, implementing new features and maintaining functionality to support the club's digital growth.
                    </p>
                    <p class="description">
                        <strong>If I were a chess opening, I'd be:</strong> The Caro-Kann
                    </p>
                    <p class="description">
                        <strong>Fun fact:</strong> I have memorized over 300 digits of π!
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/execs_2025-2026/Adam Ulster.jpeg">
            </div>
        </div>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/execs_2025-2026/Ryan Zhang.jpeg">
            </div>
            <div class="info">
                <div>
                    <h3>Ryan Zhang</h3>
                    <h4>Tournament Coordinator | First Year | Health Sciences</h4>
                    <p class="description">
                        Ryan organizes and coordinates chess tournaments, ensuring fair play and creating opportunities for members to compete.
                    </p>
                    <p class="description">
                        <strong>If I were a chess opening, I'd be:</strong> Queen's Gambit
                    </p>
                    <p class="description">
                        <strong>Fun fact:</strong> My favourite animals are rabbits
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Rohaan Malik</h3>
                    <h4>Events Coordinator | First Year | Health Sciences</h4>
                    <p class="description">
                        Rohaan plans and hosts events that bring members together, fostering a vibrant and inclusive club environment.
                    </p>
                    <p class="description">
                        <strong>If I were a chess opening, I'd be:</strong> Nf3
                    </p>
                    <p class="description">
                        <strong>Fun fact:</strong> I am a huge geography nerd
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/execs_2025-2026/Rohaan Malik.jpeg">
            </div>
        </div>
        <hr />

        

        <br>
        <br>
        <br>
        <br>
    </div>

    <%- include('footer.ejs'); %>
</body>
</html>