<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Execs</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.jpg"/>
</head>

<%- include('header.ejs') %>

<body>
    <div class="centerer">

        <h1 style="margin-bottom: 0px;">MEET THE EXECS</h1>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/Eric_Pundsack.png">
            </div>
            <div class="info">
                <div>
                    <h3>Eric Pundsack</h3>
                    <h4>President</h4>
                    <p class = "description">As an exec since 2023, Eric currently leads the Queens Chess club, 
                        organizing meetings, planning events, and more. 
                        He played board 3 for the CUCC 2024 Reserve section Champion team!
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Joey Qiao</h3>
                    <h4>Vice President</h4>
                    <p class="description">
                        Joey assists in organizing events and ensuring the smooth operation of the club's activities. Competitively, she played board 3 for the Queens CUCC Crown section team, and holds a WCM title.
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/Joey_Qiao.png">
            </div>
        </div>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/elkan.jpg">
            </div>
            <div class="info">
                <div>
                    <h3>Elkan Fok</h3>
                    <h4>Head Coach</h4>
                    <p class="description">
                        Elkan runs the successful beginner's coaching
                        classes, teaching students the most important 
                        concepts for each phase of the game, and how to
                        play for a win!
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Jaeson Wang</h3>
                    <h4>Lead Web Developer</h4>
                    <p class="description">
                        As a web dev team member since 2023, Jaeson maintains and improves the website to better serve members and promote events.
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/no_pic.jpg">
            </div>
        </div>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/no_pic.jpg">
            </div>
            <div class="info">
                <div>
                    <h3>Purav Vyas</h3>
                    <h4>Tournament Coordinator</h4>
                    <p class="description">
                        Purav is dedicated to organizing and coordinating standard CFC rated chess tournaments, ensuring fair play and creating opportunities for members to compete.
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Sivan Xu</h3>
                    <h4>Web Developer</h4>
                    <p class="description">
                        Sivan contributes to the club's website, implementing new features and maintaining functionality to support the club's digital growth.
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/Sivan_Xu.png">
            </div>
        </div>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/Sam_Dai.png">
            </div>
            <div class="info">
                <div>
                    <h3>Sam Dai</h3>
                    <h4>Social Media Coordinator</h4>
                    <p class="description">
                        Sam manages the club's social media presence, ensuring consistent engagement with members and promoting upcoming events. His efforts help raise the profile of the Queens Chess Club both online and within the community.
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Kashvi Khare</h3>
                    <h4>Events Coordinator</h4>
                    <p class="description">
                        Kashvi excels at planning and hosting events that bring members together, fostering a vibrant and inclusive club environment.
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/kashvi.png">
            </div>
        </div>
        <hr />

        

        <br>
        <br>
        <br>
        <br>
    </div>

    <%- include('footer.ejs'); %>
</body>
</html>