<footer class="container4 centerer"> <!--footer with links to social media-->

    <div class="footer" style="width: 80%;">
        <div class="centerer">
            <div class = "LeftImages">
                <a href="https://www.instagram.com/queensuchess/"><img src= "images/InstagramLogoWithCorrectBackground.jpg" alt="Instagram Page"></a>
                <a href="https://discord.gg/6dJQr4jbY3"><img src="images/DiscordLogo.jpg" alt="Discord page"></a>
                <a href="https://www.facebook.com/groups/130578570469174"><img style="border-radius: 50%;" src="images/FacebookLogo.png" alt="Facebook Page"></a>
            </div>
        </div>

        <div class="centerer">
            <ul>
                <li>28 Division St</li>
                <li>Kingston, ON</li>
                <li>K7L 3N6</ii>
                <li>Queenschess@outlook.com</li>
                <!--Check if these are correct-->
            </ul>
        </div>
        
        <div class = "RightImage centerer">
            <img src="images/QueensChessClubLogo.png" alt="Logo">
            <!--Switch to proper logo-->
        </div>
    </div>

</footer>