<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Canadian University Chesss Championship 2024</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="header-container">
    <div class="links">
        <a href="/home">HOME</a>
        <a href="/">REGISTERED TEAMS</a>
        <a href="/signup">SIGN UP</a>
    </div>
  </div>