<header>
    <div class="container">
        <nav>
            <ul>
                <a href="index.html" class="logo"><img src="images/logo.jpg" width="60" height="60"></a>
                <div class="links">
                    <li><a href="resume.pdf" target="_blank" class="tags">Resume</a></li>
                    <div class="dropdown">
                        <button class="dropbtn">Dropdown</button>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                    <li><a href="#education" class="tags">Education</a></li>
                    <li><a href="#devlog" class="tags">Devlogs</a></li>
                    <li><a href="#home" class="tags">Hello</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>