<header>
    <div class="header-container">
        <nav>
            <ul>
                <a href="/" class="logo"><img src="images/logo.jpg" width="60" height="60"></a>
                <div class="links">
                    <li><a href="/" class="tags">Home</a></li>
                    <li><a href="/eventsPage" class="tags">Events</a></li>
                    <li><a href="/execs" class="tags">Execs</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>