<header>
    <div class="header-container">
        <nav>
            <ul>
                <a href="/" class="logo"><img src="images/logo.jpg" width="60" height="60"></a>
                <div class="links">
                    <li><a href="/" class="tags">Home</a></li>
                    <div class="dropdown">
                        <button class="dropbtn">Events</button>
                        <div class="dropdown-content">
                          <a href="/cucc">Canadian University Chess Championships 2024</a>
                          <a href="/qcc">Queen's Chess Championship 2024</a>
                          <a href="/coaching">Coaching</a>
                          <a href="/CUCC2025">CUCC 2025</a>
                          <a href="/blitzT">2025 Blitz Tournament</a>
                          <a href="/eventsPage">Events</a>
                        </div>
                      </div>
                    <li><a href="/execs" class="tags">Execs</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>