<%- include("header") -%>

<div class="centerer">
    <div class="container home-container">
        <p>
            This is where all the info for the tournament will go. <br>
            Obviously nothing is styled yet. But the backend database<br>
            functionality works just fine.<br><br><br>

            Upon filling out the sign up form, the team's info is <br>
            automatically added to the MongoDB Atlas database, but <br>
            with an 'approved' value of false, we will manually set<br>
            this value to true whenever the captain pays the fee, then<br>
            the team will be displayed in the registered teams tab.<br><br><br>

            It'll all look stylish eventually, I promise haha.<br><br>
        </p>
    </div>
</div>


<%- include("footer") -%>