<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Execs</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.jpg"/>
</head>

<%- include('header.ejs') %>

<body>
    <div class="centerer">

        <h1 style="margin-bottom: 0px;">MEET THE EXECS</h2>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/dennis.jpg">
            </div>
            <div class="info">
                <div>
                    <h3>Dennis Tran</h3>
                    <h4>President</h4>
                    <p class="description">
                        Dennis has been involved in the Queen's chess
                        Club since ..... lorem ipsum dolor sit amet
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div class="backwards-exec width-container">
            <div class="info">
                <div>
                    <h3>Jack Fergusson</h3>
                    <h4>Vice President</h4>
                    <p class="description">
                        Jack has been involved in the Queen's chess
                        Club since ..... lorem ipsum dolor sit amet
                    </p>
                </div>
            </div>
            <div>
                <img class="exec-image" src="/images/jack.jpg">
            </div>
        </div>
        <hr />

        <div class="exec width-container">
            <div>
                <img class="exec-image" src="/images/dennis.jpg">
            </div>
            <div class="info">
                <div>
                    <h3>Dennis Tran</h3>
                    <h4>President</h4>
                    <p class="description">
                        Dennis has been involved in the Queen's chess
                        Club since ..... lorem ipsum dolor sit amet
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <br>
        <br>
        <br>
        <br>



    </div>
</body>
</html>