<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Execs</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
</head>

<%- include('header.ejs') %>

<body>
    <div class="centerer">

        <h1 style="margin-bottom: 0px;">MEET THE EXECS</h2>



        <div class="exec container">
            <div>
                <img class="exec-image" src="/images/dennis.jpg">
            </div>
            <div class="info">
                <div>
                    <h3>Dennis Tran</h3>
                    <h4>President</h4>
                    <p>
                        Dennis has been involved in the Queen's chess
                        Club since ..... lorem ipsum dolor sit amet
                    </p>
                </div>
            </div>
        </div>

        <hr>
    </div>
</body>
</html>