<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queens Chess Club Home Page</title>
    </head>

    <header class = "header"> <!--Header containing links to different pages-->
        <button type = "button">Logo</button>
        <button type = "button">Events</button>
        <button type = "button">About Us</button>
        <button type = "button">Contact</button> 
        <hr class = "hr1">
    </header>

    <body>
        
        <div class = "Carousel">Carousel</div> 
        <section class="carousel">
            <div class="carousel-wrapper">
                <div class="slider">
                    <img id="slide-1" src="images/bughouse.jpg" alt="slide1"/>
                    <img id="slide-2" src="images/chess.jpg" alt="slide2"/>
                    <img id="slide-3" src="images/stauffer.jpg" alt="slide3"/>
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </section>
        <!--Add code for carousel-->
        <div class = "flex-container"> <!--Welcome text-->
            <div><hr class = "hr2"></div>
            <div> <p class = "Welcome-Text">Welcome to Queens Chess club!</p></div>  
            <div><hr class = "hr2"></div>
        </div>

        <div class="container"> <!--2x2 grid with information-->
            <div class="boxA">
                <div><p>Come join us at our weekly meetings for some fun casual games!</p></div>
                
                <div><h3>Open to all!!</h3></div>
                
            </div>
            <div class="boxB">
                <!--  Add picture here <img src="picture" alt="pitcure">   -->
            
            </div>
            
            <div class="boxB2">
                <!--  Add picture here <img src="picture" alt="pitcure">   -->
            
            </div>

            <div class="boxA2">
                <div><h2>Weekly Meeting Dates</h2></div>
                <div>
                    <h6>
                        <li>Mondays 6 - 9 pm</li>
                        <li>Thursdays 6 - 9 pm</li>
                    </h6>
                    <p>NOTE: Meeting locations is Jeffrey Hall Rm 225</p>
                </div>
                <div>
                    <h4>
                        New!!
                    </h4>
                </div>
                <div>
                    <h5>Chess league nights happening every Sunday!</h5>
                    <h5>Come and play a full classical game...</h5>
                </div>
            </div>
        </div>

        <hr class = "hr2">
        
        
        <h1 class = "newsTitle"> Latest News and Events</h1> <!--Events section-->
        
        <div class = "container2"> 
            
            <div class = "QCC"> 
                <h2>QCC</h2>
            </div>
        
            <div class = "CoachingInfo">
                <h2>Queens Chess Club Coaching</h2>
            </div>

        </div>

        <div class = "container3">
        <!--Add images below title -->
        <!--Add decription below title -->

        </div>

        <h6 class = "NewsText">Click images for more information</h6>


    </body>

    <footer class = "container4"> <!--footer with links to social media-->

        <span class = "LeftImages">
    
        <img src= "images/InstagramLogoWithCorrectBackground.jpg" alt="Instagram Page">
        <img src="images/DiscordLogo.jpg" alt="Discord page">
        <img src="images/Facebook.png" alt="Facebook Page">
        
        <!--Add links to the images-->
        </span>
        <ul>
            <li>99 University Avenue </li>
            <li>Kingston, ON</li>
            <ii>K7L 3N6</ii>
            <li>###-###-####</li>
            <li>Queenschess@outlook.com</li>
            <!--Check if these are correct-->
        </ul>
        
        <span class = "RightImage">
            <img src="images/QueensChessClubLogo.png" alt="Logo">
            <!--Switch to proper logo-->
        </span>
   
    </footer>
    
    <section class = "Ufooter">
        <hr class = "hr3">
        <p>© Queen's University Chess Club 2023</p>

    </section>
    
</html>