<%- include("header") -%>

<div class="centerer">
    <div class="container signupContainer">
        <form action="/signup" method="post">

            <div class="teamInfo">
                <div>
                    <label for="teamName">Team Name</label><br>
                    <input type="text" id="teamName" name="teamName" placeholder="Queen's University B">
                </div>
                <div>
                    <label>Section</label><br>
                    <!-- <input type="radio" id="crown" name="teamSection" value="0">
                    <label for="crown">Crown</label><br>
                    <input type="radio" id="reserve" name="teamSection" value="1">
                    <label for="reserve">Reserve</label> -->

                    <label><input type="radio" name="teamSection" value="0">Crown</label>
                    <label><input type="radio" name="teamSection" value="1">Reserve</label>
                </div>
            </div>
            
            <div class="playersInfo">
                <h3>Board 1</h3><br>
                <div class="playerInfo">
                    <div>
                        <label for="player1Name">Name</label><br>
                        <input type="text" id="player1Name" name="player1Name">
                    </div>
                    <div>
                        <label for="player1Rating">CFC Rating</label><br>
                        <input type="text" id="player1Rating" name="player1Rating">
                    </div>
                    <div>
                        <label for="player1ID">CFC ID</label><br>
                        <input type="text" id="player1ID" name="player1ID">
                    </div>
                </div>

                <h3>Board 2</h3><br>
                <div class="playerInfo">
                    <div>
                        <label for="player2Name">Name</label><br>
                        <input type="text" id="player2Name" name="player2Name">
                    </div>
                    <div>
                        <label for="player2Rating">CFC Rating</label><br>
                        <input type="text" id="player2Rating" name="player2Rating">
                    </div>
                    <div>
                        <label for="player2ID">CFC ID</label><br>
                        <input type="text" id="player2ID" name="player2ID">
                    </div>
                </div>

                <h3>Board 3</h3><br>
                <div class="playerInfo">
                    <div>
                        <label for="player3Name">Name</label><br>
                        <input type="text" id="player3Name" name="player3Name">
                    </div>
                    <div>
                        <label for="player3Rating">CFC Rating</label><br>
                        <input type="text" id="player3Rating" name="player3Rating">
                    </div>
                    <div>
                        <label for="player3ID">CFC ID</label><br>
                        <input type="text" id="player3ID" name="player3ID">
                    </div>
                </div>

                <h3>Board 4</h3><br>
                <div class="playerInfo">
                    <div>
                        <label for="player4Name">Name</label><br>
                        <input type="text" id="player4Name" name="player4Name">
                    </div>
                    <div>
                        <label for="player4Rating">CFC Rating</label><br>
                        <input type="text" id="player4Rating" name="player4Rating">
                    </div>
                    <div>
                        <label for="player4ID">CFC ID</label><br>
                        <input type="text" id="player4ID" name="player4ID">
                    </div>
                </div>
            </div>

            <div class="submitButton">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<%- include("footer") -%>