<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Sivan Xu</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
		<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="shortcut icon" type="image/x-icon" href="images/icon.png"/>
	</head>
	<header>
		<div class="container">
			<nav>
				<ul>
					<a href="index.html" class="logo"><img src="images/logo.jpg" width="60" height="60"></a>
					<div class="links">
						<li><a href="resume.pdf" target="_blank" class="tags">Resume</a></li>
						<div class="dropdown">
							<button class="dropbtn">Dropdown</button>
							<div class="dropdown-content">
							  <a href="#">Link 1</a>
							  <a href="#">Link 2</a>
							  <a href="#">Link 3</a>
							</div>
						  </div>
						<li><a href="#education" class="tags">Education</a></li>
						<li><a href="#devlog" class="tags">Devlogs</a></li>
						<li><a href="#home" class="tags">Hello</a></li>
					</div>
				</ul>
			</nav>
		</div>
	</header>
	<body>
	</body>
</html>