/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 5rem;
}

img {
  height: 225px;
  float: left;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3.5rem !important;
  }
}